/* ----------------------------------------------------- Colours */

/* Used https://www.w3schools.com/css/css3_variables.asp */

:root {
    --indigo-blue: #0A3D62;
    --golden-yellow: #FBC02D;
    --rusty-red: #92272D;
    --forest-green: #3A5A40;
    --light-ivory: #F8F1E5;
}

/* ----------------------------------------------------- Typography */

/* Taken from https://www.w3schools.com/css/css3_fonts.asp */

/* Avant Garde Gothic Medium font */
@font-face {
    font-family: 'AvantGardeGothicMedium';
    src: url(../fonts/avantgardegothic-medium.woff2) format('woff2'); 
    src: url(../fonts/avantgardegothic-medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    /* Got the font name from https://commons.m.wikimedia.org/wiki/File:Studio_Ghibli.png */
    /* Font from https://github.com/bbh-labs/anti-social/tree/master/www/font/ITC%20Avant%20Garde%20Gothic */
  }

  /* Avant Garde Gothic Book font */
  @font-face {
    font-family: 'AvantGardeGothicBook';
    src: url(../fonts/avantgardegothic-book.woff2) format('woff2'); 
    src: url(../fonts/avantgardegothic-book.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    /* Got the font name from https://commons.m.wikimedia.org/wiki/File:Studio_Ghibli.png */
    /* Font from https://github.com/bbh-labs/anti-social/tree/master/www/font/ITC%20Avant%20Garde%20Gothic */
  }

/* ----------------------------------------------------- General Styling */

h1, 
h2,
h3,
h4,
h5,
h6 {
    font-family: 'AvantGardeGothicMedium', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AvantGardeGothicBook', sans-serif;
}

body {

    background: url("../images/backgrounds/background.webp") no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: var(--light-ivory);
}

main {
    background-color: rgba(0, 0, 0, 0.8);
}

body,
main {
    min-height: 100vh;
}

/* ----------------------------------------------------- Header Section */

/* Taken from https://www.youtube.com/watch?v=Vp8x8-reqZA */
.header {
    width: 100%;
    padding: 20px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left section of the header */
.header-left {
    display: flex;
    align-items: center;
}

.site-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

/* Navigation Menu */
.header-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right ul li {
    margin-left: 20px;
}

.header-right ul li a {
    text-decoration: none;
    color: var(--light-ivory);
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}

/* Hover effect and Active Link */
.header-right ul li a:hover,
.header-right a.active {
    color: var(--golden-yellow);
}

/* ----------------------------------------------------- Main Section */

.quiz-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.3px);
    -webkit-backdrop-filter: blur(33.3px);
}

.quiz-content h1 {
    font-size: 65px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.quiz-content p {
    font-size: 18px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 7px 0 30px;
    line-height: 25px;
}

.quiz-content .start-btn {
    width: 200px;
    height: 60px;
    border: 2px ;
    outline: none;
    border-radius: 10px;
    color: var(--light-ivory);
    background-color: var(--forest-green);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 15px 0 20px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.quiz-content .start-btn:hover {
    background: var(--light-ivory);
    box-shadow: 0 0 5px var(--light-ivory);
    color: var(--forest-green);
}

.btn-icon {
    width: 50px;
    height: 50px;
}

/* ----------------------------------------------------- Footer Section */

footer {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    font-size: 14px;
}