/* ----------------------------------------------------- Colours */

/* 
CSS Variables and :root Usage
Learned from: W3Schools (https://www.w3schools.com/css/css3_variables.asp) 
*/

:root {
  --indigo-blue: #0a3d62;
  --golden-yellow: #fbc02d;
  --rusty-red: #92272d;
  --forest-green: #3a5a40;
  --light-ivory: #f8f1e5;
  --shadow-slate: #3e3e3d;
}

/* ----------------------------------------------------- Typography */

/* 
@font-face for Custom Fonts
Learned from: W3Schools (https://www.w3schools.com/css/css3_fonts.asp) 
*/

/* Avant Garde Gothic Medium font */
@font-face {
  font-family: "AvantGardeGothicMedium";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/avantgardegothic-medium.woff2) format("woff2");
  src: url(../fonts/avantgardegothic-medium.woff) format("woff");
}

/* Avant Garde Gothic Book font */
@font-face {
  font-family: "AvantGardeGothicBook";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/avantgardegothic-book.woff2) format("woff2");
  src: url(../fonts/avantgardegothic-book.woff) format("woff");
}

/* ----------------------------------------------------- General Styling */

h1,
h2 {
  font-family: "AvantGardeGothicMedium", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "AvantGardeGothicBook", sans-serif;
}

/* ----------------------------------------------------- Body Styling */

body {
  width: 100%;

  color: var(--light-ivory);

  background: url("../images/backgrounds/background.webp") no-repeat;
  background-color: var(--shadow-slate);
  background-position: center;
  background-size: cover;
}

/* Darken background image */
.body-container {
  background-color: rgba(0, 0, 0, 0.8);
}

body,
.body-container {
  min-height: 100vh;
  min-width: 100vw;
}

/* ----------------------------------------------------- Header Section */

/*
Responsive navigation bar 
Code adapted from: Medium (https://volodymyrzh.medium.com/building-a-responsive-navigation-bar-with-css-593ffdb26887)
*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 3% 0;

  background-color: transparent;
}

/* Logo */
.site-logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

/* Navigation menu */
.nav-links {
  list-style: none;
  z-index: 10;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links a {
  color: var(--light-ivory);
  text-decoration: none;
  font-size: 18px;
}

/* Nav hover effect */
.nav-links a:focus,
.nav-links a:hover {
  color: var(--golden-yellow);
  border-bottom: 1px solid var(--golden-yellow);
}

/* Hamburger icon */
.burger {
  display: none;
}

.line1,
.line2,
.line3 {
  border-radius: 10px;
}

/* Animates the burger icon into a close (X) icon */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.fixed-position {
  overflow: hidden;
  height: 100%;
}

/* Backdrop */
.menu-backdrop {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

.menu-backdrop.display {
  display: block; /* Show the backdrop when this class is applied */
}

/* ----------------------------------------------------- Main Sections */

/* Main container */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 84vh;
}

/* Glass box */
.glass-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  padding: 25px 20px 20px;

  text-align: center;

  /* 
  Glass Effect for Background
  Code adapted from: (https://css.glass) 
  */

  background: rgba(255, 255, 255, 0.06);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(33.3px);
  -webkit-backdrop-filter: blur(33.3px);
}

/* Home page content */
.home-content h1 {
  font-size: 55px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home-content p {
  padding: 5px;
  margin: 7px 0 20px;

  font-size: 18px;
  line-height: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Start button (index.html) and Home button (404.html) */
.glass-box .start-btn,
.glass-box .home-btn {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  padding: 0 15px 0 20px;
  margin-bottom: 10px;

  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--shadow-slate);
  cursor: pointer;

  background: none;
  background-color: var(--light-ivory);

  border: none;
  border-radius: 3px;
  outline: none;

  transition: 0.5s;

  gap: 5px;
}

.glass-box a {
  text-decoration: none;
}

/* Hover state for start and return to home buttons */
.glass-box .start-btn:hover,
.glass-box .home-btn:hover {
  color: var(--light-ivory);

  opacity: 90%;

  background: var(--indigo-blue);
}

/* 
CSS styling for quiz elements inspired by: How To Make Quiz Website Using HTML CSS And Javascript
Source: Codehal
URL: https://www.youtube.com/watch?v=Vp8x8-reqZA
*/

/* Quiz box content */
.quiz-box {
  width: 100%;
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: end;
  padding-bottom: 15px;
}

/* Score */
.quiz-header .header-score {
  font-size: 18px;
  background: transparent;
  border-bottom: 2px solid var(--golden-yellow);
  padding: 10px;
}

/* Questions */
#question {
  font-size: 20px;
  padding: 10px 0 20px;
}

/* Image-based questions */
#question-container img {
  height: 200px;
  object-fit: cover;
}

/* Answer buttons */

#answer-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns with equal width */
  gap: 10px; /* Space between the grid items */
}

#answer-btns .btn {
  height: 70px;
  width: 100%; /* Ensure buttons take full width of their grid cell */
  padding: 12px;
  background: var(--light-ivory);
  border: none;
  border-radius: 3px;
  font-size: 17px;
  transition: 0.5s;
  cursor: pointer;
}

#answer-btns .btn:hover {
  background-color: var(--indigo-blue);
  color: var(--light-ivory);
}

/* Quiz box footer */
.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.quiz-footer .question-total {
  font-size: 16px;
}

/* Next button */
.quiz-footer .next-btn {
  background: var(--light-ivory);
  font-size: 15px;
  border: none;
  width: 100px;
  height: 45px;
  cursor: pointer;
}

.quiz-footer .next-btn:hover {
  background-color: var(--indigo-blue);
  color: var(--light-ivory);
}

#next-btn[disabled] {
  /* Grey color to indicate disabled state */
  background-color: var(--shadow-slate);
  cursor: not-allowed;
  pointer-events: none; /* Prevents clicking on the disabled button */
}

/* Answers change colour depending on correct or wrong answer */
#answer-btns .btn.correct {
  background-color: var(--forest-green);
  color: var(--light-ivory);
}

#answer-btns .btn.wrong {
  background-color: var(--rusty-red);
  color: var(--light-ivory);
}

/* To hide quiz content when website loads */
.hide {
  display: none;
}

/* ----------------------------------------------------- Modal section */

/*
Basic modal styling
Code adapted from: W3Schools (https://www.w3schools.com/howto/howto_css_modals.asp)
*/

/* Modal container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: none; /* Hidden by default */
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal content */
.modal-content {
  width: 60%;
  margin: 15% auto;
  margin-top: 200px;
  padding: 25px;
  left: 50%;

  text-align: center;

  background: var(--light-ivory);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  padding: 10px 0 20px;
  font-size: 25px;
  color: var(--indigo-blue);
}

.modal-content p {
  font-size: 18px;
  color: var(--shadow-slate);
}

/* Close button */
.close-button {
  color: var(--shadow-slate);
  float: right;
  font-size: 28px;
}

.close-button:hover,
.close-button:focus {
  color: var(--indigo-blue);
  text-decoration: none;
  cursor: pointer;
}

.modal-content a {
  text-decoration: none;
  color: var(--indigo-blue);
}

.modal-content a:hover {
  color: var(--golden-yellow);
}

/* ----------------------------------------------------- Footer Section */

footer {
  font-size: 14px;
  text-align: center;

  background-color: transparent;
}

footer a {
  color: var(--light-ivory);
  text-decoration: none;
}

footer a:hover {
  color: var(--golden-yellow);
}

/* ----------------------------------------------------- Media Queries */

@media screen and (max-width: 768px) {
  /*
Responsive navigation bar 
Code adapted from: Medium (https://volodymyrzh.medium.com/building-a-responsive-navigation-bar-with-css-593ffdb26887)
*/

  /* Responsive nav */
  .nav-links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0;
    background-color: var(--indigo-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    padding-top: 25px;
  }

  .nav-links li {
    opacity: 0;
    margin: 10px;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--light-ivory);
    margin: 5px;
    transition: all 0.3s ease;
  }

  .nav-active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .nav-links li {
    animation: navLinkFade 0.5s ease forwards 0.5s;
  }
}
